<!doctype html>

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Note Card</title>

  </head>

  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/lab-4">Table</a>
            <a class="nav-link" href="{% url 'note list' %}">Card</a>
            <a class="nav-link" href="{% url 'add note' %}">Form</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
        <div class="row row-cols-1 g-4">
                {% if notes %}
                    {% for note in notes %}
                    <div class="col-sm-3">
                        <div class="card text-dark mb-3" style="background-color: #c9eafc; color: #414c52;">
                            <div class="card-body">
                            <h5 class="card-title">To: {{note.to}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">From    : {{note.fr}}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">Title   : {{note.title}}</h6>
                            <p class="card-text">{{note.message}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>

</html>
