<!doctype html>

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Notes</title>

  </head>

  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/lab-4">Table</a>
            <a class="nav-link" href="{% url 'note list' %}">Card</a>
            <a class="nav-link" href="{% url 'add note' %}">Form</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
        <table class="table table-hover" style="background-color: #c9eafc; color: #414c52;">
            <thead>
              <tr>
                <th scope="col">To</th>
                <th scope="col">From</th>
                <th scope="col">Title</th>
                <th scope="col">Message</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="modal fade" id="view" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: #414c52;">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content"  style="background-color: #c9eafc;">
            <div class="modal-header">
              <h5 class="modal-title" id="title"></h5>
            </div>
            <div class="modal-body">
                <div id="body"></div>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: #414c52;">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content" id="content"  style="background-color: #c9eafc;">
            <div class="modal-header">
              <h5 class="modal-title" id="title">Change Note</h5>
            </div>
            <div class="modal-body" id="body">
                <div class="container-fluid">
                    <form method="POST" id="form">
                        <input type="hidden" name="id" id="editNoteId" />
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">To</label>
                            <input id="formTo" type="text" class="form-control" id="exampleInputEmail1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">From</label>
                            <input id="formFrom" type="text" class="form-control" id="exampleInputEmail1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Title</label>
                            <input id="formTitle" type="text" class="form-control" id="exampleInputEmail1">
                        </div>
                            <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Message</label>
                            <input id="formMessage" type="text" class="form-control" id="exampleInputEmail1">
                        </div>
                        <input id="formSubmit" class="btn btn-outline-dark" type="submit" value="Submit">
                    </form>
                </div>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: #414c52;">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content"  style="background-color: #c9eafc;">
            <div class="modal-header">
              <h5 class="modal-title" id="title">Change Note</h5>
            </div>
            <div class="modal-body" id="body">
                <div class="container-fluid">
                    <form method="POST">
                        {% csrf_token %}
                        Are you want to delete this item ?
                        <input id="deleteNote" class="btn btn-outline-dark" type="submit" value="Yes">
                    </form>
                </div>
            </div>
          </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            function reloadTable() {
                $.get("/lab-2/json", function(data, status) {
                    for (let i = 0; i < data.length; i++) {
                        const note = data[i];
                        let to = "<td>" + note.fields.to + "</td>";
                        let from = "<td>" + note.fields.fr + "</td>";
                        let title = "<td>" + note.fields.title + "</td>";
                        let message = "<td>" + note.fields.message + "</td>";
                        let viewAction = '<button value="' + note.pk + '" data-bs-toggle="modal" data-bs-target="#view" id="viewAction" type="button" class="btn btn-outline-dark">View</button>';
                        let editAction = '<button value="' + note.pk + '" data-bs-toggle="modal" data-bs-target="#edit" id="editAction" type="button" class="btn btn-outline-dark">Edit</button>';
                        let deleteAction = '<button value="' + note.pk + '" data-bs-toggle="modal" data-bs-target="#delete" id="deleteAction" type="button" class="btn btn-outline-dark">Delete</button>';
                        let actions = '<td><div class="btn-group" role="group" aria-label="Basic outlined example">' + viewAction + editAction + deleteAction + '</div></td>';
                        $("tbody").append("<tr>" + to + from + title + message + actions + "</tr>");
                    };
                });
            };
            reloadTable();
        })
    </script>

    <script>
        $(document).on("click", "#viewAction", function() {
            let id = this.value;
            $.get("/lab-5/notes/" + id, function(data, status) {
                $("#title").text("To: " + data.to);
                $("#body").empty();
                let from = "<h6>From: " + data.fr + "<h6>";
                let title = "<h6>Title: " + data.title + "<h6>";
                let message = "<p>" + data.title + "<p>";
                $("#body").append(from + title + message);
            })
        })
    </script>

    <script>
        $(document).on("click", "#editAction", function() {
            let id = this.value;
            $("#editNoteId").val(id);
            $.get("/lab-5/notes/" + id, function(data, status) {
                $("#formTo").val(data.to);
                $("#formFrom").val(data.fr);
                $("#formTitle").val(data.title);
                $("#formMessage").val(data.message);
            });
        });
        $("#formSubmit").click(function() {
            let id = $("#editNoteId").val();
            let body = {
                csrfmiddlewaretoken: $("#form").find('input[name="csrfmiddlewaretoken"]').val(),
                to: $("#formTo").val(),
                fr: $("#formFrom").val(),
                title: $("#formTitle").val(),
                message: $("#formMessage").val(),
            };
            $.post("/lab-5/notes/" + id + "/update", body, function(data, status) {
                $("tbody").empty();
                reloadTable();
            })
        })
    </script>

    <script>
        $(document).on("click", "#deleteAction", function() {
            let id = this.value;
            let body = {csrfmiddlewaretoken: $("#form").find('input[name="csrfmiddlewaretoken"]').val()};
            $("#deleteNote").click(function() {
                $.post("/lab-5/notes/" + id + "/delete", body, function(data, status) {
                    $("tbody").empty();
                    reloadTable();
                })
            })  
        })
    </script>

  </body>

</html>
